{% extends 'base.html.twig' %}

{% block title %}Tool Availability update success{% endblock %}

{% block body %}
    <h1>Update tool Availability</h1>
    <p>Successfully updates tool Availability  requests for Tool ID: {{ tool_id }}</p>

    {# Add more content here as needed #}
{% endblock %}
