{% extends 'base.html.twig' %}

{% block title %}Coming Soon
{% endblock %}

{% block body %}

<div class="row justify-content-center" style="margin:140px;">
    		<div class="col-4">
				<h1 style="font-size: 90px; text-align: center;">٩(◕‿◕)۶</h1><br>
				<h1 style="font-size: 30px; text-align: center;">
					<strong>Coming Soon</strong><br><br>
				</h1>
			</div>
    		<div class="col-4">
				<p>

					Finaliser CRUD/Delete : User<br>
					Finaliser CRUD/Read : Tools<br>
					Penser à la fonctionalité : "modifier status"
					<br>
					Aligner styles/vue<br><br>
					<strong>Extra:</strong><br>
					Ajouter fonctionalité : "download borrow history"<br>
					Ajouter fonctionalité : "archive tool"<br>
					Ajouter fonctionalité : "image upload"<br>
					Ajouter fonctionalité : "search by price Range (tool)"<br>
					Ajouter fonctionalité : "similar tools"<br>
					Ajouter fonctionalité : "Alertes"<br>
					Ajouter fonctionalité : "Star Ratings"<br>
					Créer entité : "tool_requests"<br>
					Optimiser/finaliser styles/vue : styles comme layout initial<br>
				</p>
			</div>
		</div>
	{% endblock %}
