{% extends 'base.html.twig' %}

{% block title %}Coming Soon
{% endblock %}

{% block body %}

	<div class="row justify-content-center" style="margin:140px;">
		<div class="row">
			<h1 style="font-size: 90px; text-align: center;">٩(◕‿◕)۶</h1><br>
			<h1 style="font-size: 30px; text-align: center;">
				<strong>Coming Soon</strong><br><br>
			</h1>
		</div>
		<div class="row">
			<p>

				Finaliser CRUD/Delete : User<br>
				Finaliser CRUD/Read : Tools<br>
				Déterminer logique fonctionalité : "modifier status"
				<br><br>
				<strong>Extra:</strong><br>

				<ul>
					<li>Pages : À propos, contactez-nous, FAQ, conditions d'utilisation, Politique de confidentialité</li>
					<li>Ajouter fonctionnalité : "télécharger historique d'emprunts/prêts"</li>
					<li>Ajouter fonctionnalité : "archiver outil"</li>
					<li>Ajouter fonctionnalité : "upload image"</li>
					<li>Ajouter fonctionnalité : "rechercher outil par prixMin & Max"</li>
					<li>Ajouter fonctionnalité : "trier outil par prix/ordre croissant-décroissant"</li>
					<li>Ajouter fonctionnalité : "outils similaires"</li>
					<li>Ajouter fonctionnalité : "alertes"</li>
					<li>Ajouter fonctionnalité : "Star Ratings"</li>
					<li>Ajouter fonctionnalité : "Signaler utilisateur"</li>
					<li>Ajouter fonctionnalité : "Faire des requêtes"</li>
					<li>Créer entité : "tool_requests"</li>
					<li>Optimiser/finaliser styles/vue : styles comme layout initial</li>
				</ul>
				<a href="https://github.com/Dvles/ToolSwap_app/blob/main/Documentation" target="_blank">voir documentation</a>
			</p>
		</div>
	</div>
{% endblock %}
