{% extends 'base.html.twig' %}

{% block title %}ToolSwap{% endblock %}

{% block body %}
<h1>Bievenue à ToolSwap</h1>

{% if app.user %}
    <p>Bonjour, {{ app.user.firstName }}!</p>
{% endif %}

{% endblock %}
