{% extends 'base.html.twig' %}

{% block title %}Emprunt créé{% endblock %}

{% block body %}

<div style="height: 72vh;">
    <h1>Nouvel emrpunt!</h1>
    <p>Successfully processed borrow request for Tool ID: {{ tool_id }}</p>

    <p>Vous serez redirigé(e) automatiquement dans 5 secondes...</p>
    <h3 id="countdown" >5</h3>

    <script>
        let countdown = 5;
        const countdownElement = document.getElementById('countdown');

        setInterval(() => {
            if (countdown > 1) {
                countdown--;
                countdownElement.textContent = countdown;
            } else {
                window.location.href = '{{ path('tool_borrow_display') }}'; // Redirect after countdown
            }
        }, 1000); // 1 second interval
    </script>

</div>

{% endblock %}
