{% extends 'base.html.twig' %}

{% block title %}Borrow Calendar{% endblock %}

{% block body %}
    <h1>Borrow Calendar</h1>
    <p>Successfully processed borrow request for Tool ID: {{ tool_id }}</p>

    {# Add more content here as needed #}
{% endblock %}
