<nav>
    {# liens sans connexion #}
    <a href="">Rechercher</a>
    <a href="">+ Objet</a>

    {# liens pour l'admin #}
    {% if is_granted('ROLE_USER') %}
        <a href="">Profil</a>
    {% endif %}

    {# liens pour tout user#}
    {% if app.user %}
        <a href=" {{ path ('app_logout')}} ">Déconnexion</a>
    {% else %}
        <a href=" {{ path ('app_login')}} ">Connexion</a>
    {% endif %}
    
</nav>