@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap';

body {
    background-color: rgb(253, 250, 246);
    font-family: Arial, Helvetica, sans-serif !important;
    padding-top: 100px; /* Adjust this value based on the height of your navbar */
}

/* Updated background color for navbar */
.navbar {
    background-color: #ff8719; /* Set background color to the desired orange */
}

/* Custom styling for "Connexion" & "Déconnexion" links */
.prominent-link {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px 10px;
}

.prominent-link:hover {
    background-color: rgb(43, 43, 43);
    color: rgb(255, 248, 235);
}

/* Custom "Go" button for the search bar */
.custom-go-button {
    border: 1px solid rgba(255, 255, 255, 0.63);;
    background-color: #ffffff1a;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.custom-go-button:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-color: #ffffff;
}

/* Adjust form and logo positioning */
.navbar-brand {
    margin-left: 15px; /* Add some margin for proper spacing */
}

.d-flex {
    flex-grow: 1; /* Ensure the search bar takes up available space */
    align-items: center; /* Vertically align search bar */
}

.navbar{
    margin-bottom: 5%;
    padding: 1%;
}

.container-fluid{
    max-width: 80%;

}


.hover-line:hover{
    text-decoration: underline;
}

.right-border{
    border-right: 1px solid #fff; /* 2px solid black right border */
    
}


/* Alternatively, you could add padding to the main content container */
.main-container {
    padding-top: 70px; /* Adjust according to navbar height */
    max-width: 80%;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}