/* Availability Calendar Styling */
#availabilityCalendar {
    max-width: 100%;
    height: auto;
    width: 100%;
}

/* Bootstrap Calendar and Button Adjustments */
.calendar {
    max-width: 600px; /* Adjust width for a centered, smaller calendar */
    margin: auto;
}

.btn-primary, .btn-secondary {
    width: auto;
}

/* Calendar toolbar buttons */
#availabilityCalendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > div > button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active,
#availabilityCalendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > div > button.fc-timeGridWeek-button.fc-button.fc-button-primary,
#availabilityCalendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > div > button.fc-timeGridDay-button.fc-button.fc-button-primary {
    display: none;
}

#fc-dom-1 {
    text-align: right;
}

/* Change the color of day numbers to black */
.fc-daygrid-day-number {
    color: black !important; /* This targets the day numbers */
}

/* Change the color of day names (Mon, Tue, etc.) to black */
#availabilityCalendar .fc-col-header-cell .fc-col-header-cell-cushion {
    color: black !important; /* Targeting the <a> tag with day name inside */
}

/* Optional: Change the background of weekends to another color for distinction */
.fc-day-sun, .fc-day-sat {
    background-color: #f2f2f2; /* Light gray background for weekends */
}

/* Optional: Change the selected date's background */
.fc-daygrid-day.fc-day-selected {
    background-color: #000 !important; /* Change to black */
    color: white !important;
}
