
/* Availability Calendar Styling */
#availabilityCalendar {
    max-width: 100%;
    height: auto;
    width: 100%;
}

/* Bootstrap Calendar and Button Adjustments */
.calendar {
    max-width: 600px; /* Adjust width for a centered, smaller calendar */
    margin: auto;
}

.btn-primary, .btn-secondary {
    width: auto;
}
