
/* Availability Calendar Styling */
#availabilityCalendar {
    max-width: 100%;
    height: auto;
    width: 100%;
}

/* Bootstrap Calendar and Button Adjustments */
.calendar {
    max-width: 600px; /* Adjust width for a centered, smaller calendar */
    margin: auto;
}

.btn-primary, .btn-secondary {
    width: auto;
}

#availabilityCalendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > div > button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active, #availabilityCalendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > div > button.fc-timeGridWeek-button.fc-button.fc-button-primary, #availabilityCalendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3) > div > button.fc-timeGridDay-button.fc-button.fc-button-primary
{
   display: none;
   visibility: hidden;
}

#fc-dom-1 {
    text-align: right;
}