{# templates/pagination.html.twig #}

{% block knp_pagination_previous %} 
    <span class="page-link">Précédent</span>
{% endblock %}

{% block knp_pagination_next %}
    <span class="page-link">Suivant</span>
{% endblock %}
