{% extends 'base.html.twig' %}

{% block title %}Hello FormulairesController!{% endblock %}

{% block body %}
    <h1>Tool Borrow</h1>

    {{ form_start(form) }}


    <input type="submit" value="Insérer">
    
    {{ form_end(form) }}
{% endblock %}